.lead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 148px;
    color: white;
    max-width: 928px;
    padding: 0;
}


@media screen and (max-width:1140px) {
    .lead {
        margin: 0 48px;
    }
}

@media screen and (max-width:984px) {
    .lead {
        margin: 0;
    }
}