.lead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
    color: white;
    max-width: 984px;
    padding: 0;
}


@media screen and (max-width:1279px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width:1023px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width:767px) {
    .lead {
        max-width: 320px;
    }
}

@media screen and (max-width:350px) {
    .lead {
        width: auto;
    }
}