.content {
    flex-shrink: 0;
    display: grid;
    row-gap: 92px;
}

@media screen and (max-width:767px) {
    .content {
        grid-template-columns: auto;
        row-gap: 64px;
        margin: 0;
    }
}