.footer__copyright {
    margin: 0 0 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


@media screen and (max-width:768px) {
    .footer__copyright {
        line-height: 14px;
        margin: 48px 0 0 0;
    }
}